@import 'colors';

@canvasWidth: 1322px;
@canvasHeight: 300px;
@infoBarHeight: 30px;

.root {
  position: relative;
  width: @canvasWidth;
  height: @canvasHeight + @infoBarHeight;

  .filename {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .process {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.cursor {
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 0;

  &:hover {
    cursor: col-resize;
  }
}

.processCursor {
  position: absolute;
  height: @canvasHeight;
  top: 0;
  width: 0;
  background-color: @blue400;
  transition: left 100ms linear;

  &:hover {
    cursor: col-resize;
  }
}

.sliderIndicator {
  position: absolute;
  height: 26px;
  background-color: rgb(237, 56, 81);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
