@import 'colors';

.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.navigator {
  width: 200px;
  height: 100%;
}

.appContentContainer {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContent {
  width: 90%;
  height: 100%;
}

.at {
  background-color: @cyan300 !important;

  span {
    color: white;
  }
}
